<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            请假管理
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="./css/x-admin.css" media="all">
        <link rel="stylesheet" href="css/pag.css" media="all">
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-table.css" media="all">
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" media="all">
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="lib/bootstrap/js/bootstrap.js"></script>
        <script src="lib/bootstrap/js/bootstrap-table.js"></script>
        <script src="lib/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
    </head>
<body>
<div class="x-body">
    <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>请假管理</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <br>
    <h3>请假申请列表</h3>
    <button type="button" class="btn btn-primary" style="margin-right:15px;" onclick="add()">添加请假申请</button>
    <br>
    <table id="tb_departments"></table>
    <form id="updateForm">
        <input type="hidden" name="type">
        <input type="hidden" name="id">
    </form>
</div>

    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script src="./js/x-layui.js" charset="utf-8"></script> 
    <script>
            layui.use(['element','laypage','layer','form'], function(){
                $ = layui.jquery;//jquery
              lement = layui.element();//面包导航
              laypage = layui.laypage;//分页
              layer = layui.layer;//弹出层
              form = layui.form();//弹出层
			   });

            $(function () {

                //1.初始化Table
                var oTable = new TableInit();
                oTable.Init();

                //2.初始化Button的点击事件
                var oButtonInit = new ButtonInit();
                oButtonInit.Init();

            });


            var TableInit = function () {
                var oTableInit = new Object();
                //初始化Table
                oTableInit.Init = function () {
                    $('#tb_departments').bootstrapTable({
                        url: '/getLeave',       //请求后台的URL（*）
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        method: 'Post', //请求方式（*）
                        editable: true, /* 开启编辑模式 */
                        //toolbar : '#toolbar', //工具按钮用哪个容器
                        striped: true, //是否显示行间隔色
                        cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                        pagination: true, //是否显示分页（*）
                        sortable: false, //是否启用排序
                        sortOrder: "asc", //排序方式
                        queryParams: oTableInit.queryParams,//传递参数（*）
                        sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                        pageNumber: 1, //初始化加载第一页，默认第一页
                        pageSize: 5, //每页的记录行数（*）
                        pageList: [5,10], //可供选择的每页的行数（*）[5,10]
                        search: false, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                        strictSearch: true,
                        /* height: 810,*/
                        showColumns: false, //是否显示所有的列
                        showRefresh: false, //是否显示刷新按钮
                        minimumCountColumns: 0, //最少允许的列数
                        clickToSelect: true, //是否启用点击选中行
                        uniqueId: "id", //每一行的唯一标识，一般为主键列
                        showToggle: false, //是否显示详细视图和列表视图的切换按钮
                        cardView: false, //是否显示详细视图
                        detailView: false, //是否显示父子表
                        singleSelect: false,
                        columns: [{
                            field:'id',
                            title:'ID',
                            visible:false
                        }, {
                            field: 'userName',
                            title: '请假人'
                        }, {
                            field: 'days',
                            title: '请假天数'
                        }, {
                            field: 'reason',
                            title: '请假事由'
                        }, {
                            field: 'remark',
                            title: '请假备注'
                        },{
                            field: 'leaveDate',
                            title: '请假时间'
                        },{
                            field: 'statusString',
                            title: '请假状态'
                        },{
                            field: 'status',
                            title: '请假状态',
                            visible:false
                        },{
                            field: 'Desc',
                            title: '操作',
                            formatter: operateFormatter,
                            events: operateEvents
                        }]
                    });
                };

                //得到查询的参数
                oTableInit.queryParams = function (params) {
                    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                        pageSize: params.limit, //页面大小
                        pageNum: (params.offset / params.limit) + 1
                    };
                    return temp;
                };
                return oTableInit;
            };

            function operateFormatter(value, row, index) {
                if(row.status == 1){
                    return ['<button type="button" id="search" class="btn btn-primary" style="margin-right:15px;">查看审核记录</button>'
                    ].join('')
                }else if(row.status == 2){
                    return ['<button type="button" id="search" class="btn btn-primary" style="margin-right:15px;">查看审核记录</button>'
                    ].join('')
                }else {
                    return ['<button type="button" id="update" class="btn btn-primary" style="margin-right:15px;">修改</button>',
                        '<button type="button" id="delete" class="btn btn-primary" style="margin-right:15px;">删除</button>',
                        '<button type="button" id="sub" class="btn btn-primary" style="margin-right:15px;">申请请假</button>'
                    ].join('')
                }
            };

            window.operateEvents = {
                'click #delete': function (e, value, row, index) {
                    $.post("/deleteLeave",{id:row.id},function (data) {
                        if (data > 0){
                            alert("删除成功");
                        }else {
                            alert("操作失败");
                        }
                        location.reload();
                    }).error(function () {
                        alert("异常")
                    });
                },
                'click #update': function (e, value, row, index) {
                    window.location.href="leave_add.html?type=update&id="+row.id;
                },
                'click #search': function (e, value, row, index) {
                    window.location.href="leave_record.html?leaveId="+row.id;
                },'click #sub': function (e, value, row, index) {
                   $.post("/applyLeave",{leaveId:row.id},function (data) {
                        if(data == true){
                            alert("申请成功");
                            window.location.reload();
                        }else {
                            alert("申请失败")
                        }
                   }).error(function () {
                       alert("异常")
                   });
                }
            };

            function add() {
                window.location.href="leave_add.html?type=add";
            }


            var ButtonInit = function () {
                var oInit = new Object();
                var postdata = {};

                oInit.Init = function () {
                    //初始化页面上面的按钮事件
                };

                return oInit;
            };
            </script>
    </body>
</html>