<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>activitiSSM登录界面</title>
<link href="view/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="view/js/jquery2.js"></script>
<script src="view/js/cloud.js" type="text/javascript"></script>
<script language="javascript" src="view/js/js.js"></script>
</head>

<body style="background-color:#1c77ac; background-image: url(view/images/light.png) background-repeat:no-repeat; background-position:center top; overflow:hidden;">
<div id="mainBody">
  <div id="cloud1" class="cloud"></div>
  <div id="cloud2" class="cloud"></div>
</div>
<div class="logintop"> <span>activitiSSM</span>
  <ul>
    <li><a href="#">返回首页</a></li>
  </ul>
</div>
<div class="loginbody"> <span class="systemlogo"></span>
  <div class="loginbox">
    <ul>
      <li>
        <input id="userName" type="text" class="loginuser" placeholder="登录名"/>
      </li>
      <li>
        <input id="pwd" type="password" class="loginpwd" placeholder="密码"/>
      </li>
      <!--<li>-->
        <!--<input name="" type="text" class="loginy" placeholder="输入验证码"/><label><img src="images/images.jpg" /></label>-->
      <!--</li>-->
      <li>
        <input id="loginBtn" type="button" class="loginbtn"  onclick="login()" value="登录"/>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
    function login() {
        var userName = $('#userName').val();
        var pwd = $('#pwd').val();
        $.post("/login",{userName:userName,pwd:pwd},function (data) {
            if(data == false){
                alert("用户名或密码错误")
            }else {
                window.location.href="view/index.html";
            }
        });
    }
</script>
</body>
</html>
